<div class= "w-100 mt-4 ml-5">
  <%= form_with(model: recipe) do |form| %>
    <% if recipe.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

        <ul>
          <% recipe.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field w-50">
      <%= form.label :name, style: "label" %>
      <%= form.text_field :name, class: "form-control", placeholder: "Recipe title" %>
    </div>

      <div class="mb-3">
		            <label for="name" class="form-label">Preparation time (Minutes)</label>
		            <%= form.text_field :preparation_time, required: true, class: "form-control", id: "preparation_time"%>
	            </div>
                <div class="mb-3">
		            <label for="name" class="form-label">Cooking time (Minutes)</label>
		            <%= form.text_field :cooking_time, required: true, class: "form-control", id: "cooking_time"%>
	            </div>

    <div class="field w-50">
      <%= form.label :description, style: "display: block" %>
      <%= form.text_area :description, class: "textarea", placeholder: "write your recipe here" %>
    </div>

    <div class="field">
      <%= form.label :public, class: "checkbox" %>
      <%= form.check_box :public %>
    </div>

    <div class="actions">
      <%= form.submit class: "button is-success is-focused mb-2" %>
    </div>
  <% end %>
</div>