<div class="container py-5 w-50 min-vh-100 text-center">
  <h2 class="display-3">Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, class: "text-start" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Your E-mail", class: "mb-4 rounded-3 py-2 px-5" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "password", class: "mb-4 rounded-3 py-2 px-5"%>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="form-actions my-3">
    <%= f.submit "Log in", class: "btn btn-primary" %>
    <%= render "devise/shared/links" %>
  </div>
  <% end %>

</div>