<div class = "is-flex is-justify-content-end">
<%= render partial: "_partials/modals/food-modal", class: "button is-info is-dark m-4"%>
</div>

<div class="table-container m-3">
  <table class="table is-bordered is-striped is-hoverable is-fullwidth ">
    <thread>
      <tr>
        <th>Food</th>
        <th>Measurement unit</th>
        <th>Unit price</th>
        <th>Actions</th>
      </tr>
    </thread>

    <tbody>
      <% @foods.each do |food| %>
        <tr>
        <td><%=food.name%></td>
        <td><%=food.measurement_unit%></td>
        <td><%=food.price%></td>
         <td><%= link_to "Delete", food, method: :delete ,class: "button is-danger is-small is-hover"%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
